{% extends "userbase.html" %}
{% block content %}
    <div class="container">
            <h1>To do List App</h1>
                    {{ form.hidden_tag() }}
                <div class="jumbotron text-center">
                    {% if task %}
                    <h1>Edit Task</h1>
                    {% else %}
                    <h1>New Task</h1>
                    {% endif %}
                    <form action="/newTask" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {% if task %}
                            <input type="hidden" name="hiddenTaskId" value="{{ task.task_id }}" />
                        {% else %}
                            <input type="hidden" name="hiddenTaskId" value="0" />
                        {% endif %}
                        <div class="form-group">
                    {{ form.inputDescription.label(class="sr-only") }}
                    {{ form.inputDescription(class="form-control", placeholder="Enter your task control...") }}
                    {% if form.inputDescription.errors %}
                        {%for error in form.inputDescription.errors %}
                        <div class="alert alert-danger">
                            <strong>Error:</strong> [{{ error }}]
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                    <div class="form_group">
                    {{ form.inputPriority(class="form-control", placeholder="Priority") }}
                    </div>
                <p class="lead"></p>
                    <p>
                     {{ form.submit(class="btn-lg btn-success btn-block") }}
                    <a class="btn btn-lg btn-danger btn-block" href="/userHome"> Cancel</a>
                    </p>
                    </form>
                </div>
    </div>
    <div class="jumbotron"style="margin-bottom:0">
        <p>Copy right &copy;2020 by PhongLT</p>
    </div>
{% endblock %}